<section>
	<div class="pending-detial">
		<h2>订单详情</h2>

		<!--订单概要 开始-->
		<form action='{url:/ucenter/password_edit}' method='post'>
		<ul class="block-row">
			<li>
				<p class="head">原有密码：</p>
				<p class="sum"><input type='password' name="fpassword" pattern='required' alt='请输入原有密码'  /></p>
			</li>
			<li>
				<p class="head">你想要的新密码：</p>
				<p class="sum"><input type='password' name="password" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' /></p>
			</li>
			<li>
				<p class="head">请再次输入新密码：</p>
				<p class="sum"><input type='password' name="repassword" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' bind='password' /></p>
			</li>
			<li>
				<p class="head">&nbsp;</p>
				<p class="sum"><input type="submit" class="btn" value="修改密码" /></p>
			</li>
		</ul>
		</form>
	</div>
</section>