 <style>body{background:#e8e8e8}</style>
 <div class="manage-c1" style="margin-bottom: 50px;overflow: hidden;">
            	<div class="manage-cen">
            		<div class="manage-dav">
            			<span><a style="color: #666;" href="{url:/site/sy}">首页</a></span><span> > </span><span>个人中心</span>
            		</div>
            		<div class="manage-left">
            			<div class="manage-left-cen">
            				<ul class="manage-left-ul">
            					<li><a href="{url:/tool/account}">账号管理</a></li>
            					<li><a href="{url:/site/myorder}">我的预约</a></li>
            					<li><a href="{url:/tool/order}">我的订单</a></li>
            					<li style="color: #eee;" class="mana-cin">———————</li>
            					<li><a href="{url:/ucenter/address}">我的地址</a></li>
            					<li style="text-indent:0;background:#fff;cursor:auto;"><a style="color: #FA3D39;font-weight: bold;" href="{url:/site/myprize}">我的奖品 ></a></li>
            					<li><a href="{url:/tool/myfcode}">我的F码</a></li>
            				</ul>
            			</div>
            		</div>
            		
            		
            		<div class="manage-right">
            			<div class="manage-right-top">我的奖品</div>
            			<div class="myorder-center">           				
            				<table class="myprize-list">
            					<tbody>
            						
            						<tr>
            							<td style="padding: 5px 0;">活动名称</td>
            							<td style="padding: 5px 0;">奖品</td>
            							<td style="padding: 5px 0;">有效期</td>
            							<td style="padding: 5px 0;">奖品发放方式</td>
            							<td style="padding: 5px 0;">奖品状态</td>
            						</tr>
 									<?php foreach($prize as $val) {?>
									<tr>
										<td><?php echo $val['activity_desc']?></td>										
										<td><?php echo $val['field1']?></td>
										<td><?php echo $val['time']?></td>
										<td></td>
										<td><?php if($val['status']=='0') echo '未使用';else echo '已使用' ;?></td>
									</tr>
									<?php }?>
            					</tbody>
            				</table>
            				
            				<!--暂无订单-->
            				<div style='{if:empty($prize)}{echo "display:block"}{else:}{echo: "display:none"}{/if};margin: 86px 0;' class="myorder-none">
            					<img src="{skin:images/front/img/none-jp.png}" />
            					<p>暂无奖品</p>
            				</div>
            			</div>
            		</div>
            	</div>           	
            </div>
         
		</div>
		<!--中间内容over-->
		<script>
			//IE8兼容
			if($.browser.msie && parseInt($.browser.version) == 8){
				$('.myprize-list td:nth-child(1)').css('width','250px');
				$('.myprize-list td:nth-child(2)').css('width','170px');
				$('.myprize-list td:nth-child(3)').css('width','270px');
				$('.myprize-list td:nth-child(4)').css('width','190px');	
				$('.myprize-list td:nth-child(5)').css('width','110px');	
			}
		</script>

