
<style type="text/css">

    .style_1 { width: 100%; text-align:center;}
    .style_1 .content {width: 1200px; margin: 0 auto; height: 100%; }
    .style_1 .content .layer_1 { float: left; width: 1200px; margin-top: 0px; margin-bottom: 10px;}
    .style_1 .content .layer_1 img {}

</style>


<div class="" >

	<div class="style_1">
		{set:$pics_0=JSON::decode($attrbutes[0]["value"])}
		<div class="content">
			<div class="layer_1"><img src="{skin:images/front/canshubg.png}" /></div>
		</div>
	</div>
</div>
