
<script src="{theme:javascript/jquery-1.7.2.min.js}"></script>

<style type="text/css">
	.content {width: 1200px; margin: 0 auto;}
	table { width: 1050px; font-size: 12px; text-align: center; margin-top: 50px; margin-bottom: 100px; margin-left: 75px;}
	table tr {}
	table th { border: 1px rgb(239, 239, 239) solid; height: 40px; line-height: 40px; background: rgb(245, 245, 245)}
	table td { border: 1px rgb(239, 239, 239) solid; line-height: 25px; padding-top: 20px; padding-left: 20px; padding-bottom: 20px;}
	table .style_col {width: 150px; }
	table .content_col {width: 300px;}
	table td .word_line {width: 100%; text-align: left; }
	table td.first {padding: 0px;}
</style>


<div class="num_box">
	<div class="content">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th class="style_col"></th>
				<th class="content_col">主棒</th>
				<th class="content_col">存储棒</th>
				<th class="content_col">存储柄</th>
			</tr>
			<tr>
				<td class="first">尺寸/重量/颜色/材质</td>
				<td>
					<div class="layer_1"><img src="{skin:images/front/zhubang_size.png}"></div>
					<div class="layer_2 word_line" style=" padding-left: 50px;">重量：300g <br>重量：300g</div>
				</td>
				<td>
					<div class="layer_1"><img src="{skin:images/front/cuncubang_size.png}"></div>
					<div class="layer_2 word_line" style=" padding-left: 50px;">重量：300g <br>重量：300g</div>
				</td>
				<td>
					<div class="layer_1"><img src="{skin:images/front/cuncubing_size.png}"></div>
					<div class="layer_2 word_line" style=" padding-left: 50px;">重量：300g <br>重量：300g</div>
				</td>
			</tr>
			<tr>
				<td class="first">硬件配置</td>
				<td>
					<div class="layer_1 word_line">
						处理器：CPU 四核Cortex-A9@2.0GHZ <br><br>
						处理器：CPU 四核Cortex-A9@2.0GHZ <br>
						处理器：CPU 四核Cortex-A9@2.0GHZ <br><br>
						处理器：CPU 四核Cortex-A9@2.0GHZ <br>
						处理器：CPU 四核Cortex-A9@2.0GHZ <br>
						处理器：CPU 四核Cortex-A9@2.0GHZ <br><br>
						处理器：CPU 四核Cortex-A9@2.0GHZ <br>
						处理器：CPU 四核Cortex-A9@2.0GHZ <br>
						处理器：CPU 四核Cortex-A9@2.0GHZ <br><br>
						处理器：CPU 四核Cortex-A9@2.0GHZ <br>
						处理器：CPU 四核Cortex-A9@2.0GHZ <br>
					</div>
				</td>
				<td>
					<div class="layer_1 word_line">重量：300g <br>重量：300g</div>
				</td>
				<td>
					<div class="layer_1 word_line">重量：300g <br>重量：300g</div>
				</td>
			</tr>
			<tr>
				<td class="first">软件参数</td>
				<td>
					<div class="layer_1 word_line">
						操作系统于Android深度定制的智能路由器<br>
						操作系统MeiOS支持Android、iOS、Windows<br><br>
						支持语言简体中文<br<br>
						无线安全加密
					</div>
				</td>
				<td>
					<div class="layer_1 word_line">重量：300g <br>重量：300g</div>
				</td>
				<td>
					<div class="layer_1 word_line">重量：300g <br>重量：300g</div>
				</td>
			</tr>
			<tr>
				<td class="first">软件参数</td>
				<td>
					<div class="layer_1 word_line">
						操作系统于Android深度定制的智能路由器<br>
						操作系统MeiOS支持Android、iOS、Windows<br><br>
						支持语言简体中文<br<br>
						无线安全加密
					</div>
				</td>
				<td>
					<div class="layer_1 word_line">重量：300g <br>重量：300g</div>
				</td>
				<td>
					<div class="layer_1 word_line">重量：300g <br>重量：300g</div>
				</td>
			</tr>
			<tr>
				<td class="first">其他参数</td>
				<td>
					<div class="layer_1 word_line">
						协议标准：IEEE 802.11a/b/g/n/ac,IEEE 802.3/3u/3ab<br><br>
						认证标准：认证标准是啥？？<br><br>
						认证标准：认证标准是啥？？<br><br>
						认证标准：认证标准是啥？？<br><br>
						认证标准：认证标准是啥？？<br><br>
					</div>
				</td>
				<td>
					<div class="layer_1 word_line">重量：300g <br>重量：300g</div>
				</td>
				<td>
					<div class="layer_1 word_line">重量：300g <br>重量：300g</div>
				</td>
			</tr>
			<tr>
				<td class="first">其他参数</td>
				<td>
					<div class="layer_1 word_line">
						协议标准：IEEE 802.11a/b/g/n/ac,IEEE 802.3/3u/3ab<br><br>
						认证标准：认证标准是啥？？<br><br>
						认证标准：认证标准是啥？？<br><br>
						认证标准：认证标准是啥？？<br><br>
						认证标准：认证标准是啥？？<br><br>
					</div>
				</td>
				<td>
					<div class="layer_1 word_line">重量：300g <br>重量：300g</div>
				</td>
				<td>
					<div class="layer_1 word_line">重量：300g <br>重量：300g</div>
				</td>
			</tr>
			<tr>
				<td class="first">包装</td>
				<td>
					<div class="layer_1 word_line">
						分套单独包装<br><br>
						包装1：母棒+装饰盖+遥控器+适配器+HDMI线+说明书<br><br>
						包装2：母棒+装饰盖+遥控器+适配器+HDMI线+说明书<br><br>
						包装3：母棒+装饰盖+遥控器+适配器+HDMI线+说明书<br><br>
				<td>
					<div class="layer_1 word_line">重量：300g <br>重量：300g</div>
				</td>
				<td>
					<div class="layer_1 word_line">重量：300g <br>重量：300g</div>
				</td>
			</tr>
			


		</table>
	</div>
</div>

<script type="text/javascript">
	$().ready(function() {
		
	});
	
</script>
