
<div class="middle_wrapper" style="width: 100%; height: 750px; background: url({skin:images/ys/ys1.jpg}) center no-repeat;">

</div>
<div class="middle_wrapper" style="width: 100%; height: 750px; background: url({skin:images/ys/ys2.jpg}) center no-repeat;">

</div>
<div class="middle_wrapper" style="width: 100%; height: 750px; background: url({skin:images/ys/ys3.jpg}) center no-repeat;">

</div>
<div class="middle_wrapper" style="width: 100%; height: 750px; background: url({skin:images/ys/ys4.jpg}) center no-repeat;">

</div>
