<link rel="stylesheet" href="/views/default/javascript/swiper2/idangerous.swiper.css">
<style> .middle_wrapper_banner {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 1920px;
	min-width: 1250px;
	height: 700px;
}

.middle_wrapper_banner .swiper-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide {
	position: relative;
	overflow: hidden;
	background: url("http://o8nj7d5m4.bkt.clouddn.com/banner20160708.jpg") top center no-repeat;
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s2 {
	background-image: url("http://o8nj7d5m4.bkt.clouddn.com/banner20160602.jpg");
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s3 {
	background-image: url("http://o8nj7d5m4.bkt.clouddn.com/banner20160603.jpg");
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s4 {
	background-image: url("http://o8nj7d5m4.bkt.clouddn.com/banner20160604.jpg");
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s5 {
	background-image: url("http://o8nj7d5m4.bkt.clouddn.com/banner20160605.jpg");
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide .ss-content {
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s1 .ss-content div {
	margin-left: 66px;
	margin-top: 447px;
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s1 .ss-content div a {
	border: 0px solid #ccc;
	width: 164px;
	height: 58px;
	display: block;
	float: left;
	margin-left: 10px;
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s2 .ss-content div {
	margin-left: 25px;
	margin-top: 350px;
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s2 .ss-content div a {
	border: 0px solid #ccc;
	width: 164px;
	height: 58px;
	display: block;
	float: left;
	margin-left: 10px;
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s3 .ss-content div {
	margin-left: 28px;
	margin-top: 455px;
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s3 .ss-content div a {
	border: 0px solid #ccc;
	width: 164px;
	height: 58px;
	display: block;
	float: left;
	margin-left: 10px;
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s4 .ss-content div {
	margin-left: 32px;
	margin-top: 406px;
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s4 .ss-content div a {
	border: 0px solid #ccc;
	width: 164px;
	height: 58px;
	display: block;
	float: left;
	margin-left: 10px;
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s5 .ss-content div {
	margin-left: 180px;
	margin-top: 336px;
}

.middle_wrapper_banner .swiper-container .swiper-wrapper .swiper-slide.s5 .ss-content div a {
	border: 0px solid #ccc;
	width: 164px;
	height: 58px;
	display: block;
	float: left;
	margin-left: 10px;
}

.middle_wrapper_banner .swiper-container .swiper-pagination {
	position: absolute;
	bottom: 10px;
	left: 0;
	text-align: center;
	width: 100%;
	height: 15px;
	line-height: 15px;
}

.middle_wrapper_banner .swiper-container .swiper-pagination .swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #999;
	margin: 0 5px;
	cursor: pointer;
	vertical-align: middle;
}

.middle_wrapper_banner .swiper-container .swiper-pagination .swiper-active-switch {
	background-color: transparent;
	border: 1px solid #e60012;
}

.index_nav {
	width: 1130px;
	margin: 0 auto;
	height: 300px;
}

.index_nav div {
	width: 376px;
	float: left;
	height: 300px;
	text-align: center;
}

</style>
<div class="middle_wrapper_banner">
  <div class="swiper-container">
    <div class="swiper-wrapper">
  
      <div style="cursor: pointer;" class="swiper-slide s2" data-hash="slide2" onclick='window.open("{url:/site/overview/id/2}")'>
        <div class="ss-content">
         <div><a class="btn to-buying"></a></div>
        </div>
      </div>
      <div style="cursor: pointer;" class="swiper-slide s3" data-hash="slide3" onclick='window.open("{url:/site/overview/id/2}")'>
        <div class="ss-content">
         <div><a class="btn to-buying"></a></div>
        </div>
      </div>  

      <div style="cursor: pointer;" class="swiper-slide s4" data-hash="slide4" onclick='window.open("{url:/site/overview/id/2}")'>
        <div class="ss-content">
         <div><a class="btn to-buying"></a></div>
        </div>
      </div>
      <div style="cursor: pointer;" class="swiper-slide s5" data-hash="slide5" onclick='window.open("{url:/site/overview/id/2}")'>
        <div class="ss-content">
		<div><a class="btn to-buying"></a></div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<!--<script type="text/javascript">
$(document).ready(function(){
	$('.swiper-container .swiper-wrapper .swiper-slide').hover(function(){
		$(this).css('cursor','pointer');
		if($(this).attr('data-hash') != 'slide1'){
			$(this).bind('click',function(){
				window.open("{url:/site/overview/id/2}");
			});
		}else{
			$(this).bind('click',function(){
				window.open("{url:/site/products_new/id/14}");
			});
		}
	});	
});
</script>-->
<!--<script src="js/swiper.min.js"></script>-->
<script src="/views/default/javascript/swiper2/idangerous.swiper.min.js"></script>
<script>
 new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    speed: 300,
    autoplay: 5000,
    loop:true,
    spaceBetween: 0,
    simulateTouch:false
    //autoplay: 3000,
    //nextButton: '.swiper-button-next',
    //prevButton: '.swiper-button-prev',
    //,hashnav: true
  });
</script>