
	
<!--上午抢购完成-->
<style>
	.eng-box{margin-top: 167px;text-align: center;margin-bottom: 155px;}
	.eng-box h1{color: #1f1f1f;font-size: 80px;font-weight: 400;font-family: "microsoft yahei"}
	.eng-box p{margin-top: 95px;font-size: 46px;color: #ec0604;font-family: "microsoft yahei";font-weight: 400;letter-spacing: 4px;}
	.eng-box p:last-child{margin-top: 0px;}
	
	.eng-tab{margin-top: 164px;text-align: center;margin-bottom: 140px;}
	.eng-tab h1{color: #1c1c1c;font-size: 80px;font-weight: 400;font-family: "microsoft yahei"}
	.eng-tab p{margin-top: 91px;font-size: 46px;color: #ec0604;font-family: "microsoft yahei";font-weight: 400;letter-spacing: 4px;}
	.eng-tab .p1{margin-top: 0px;margin-bottom: 8px;}
	.eng-tab b{font-size: 24px;font-weight: 200;color: #ec0604;}
</style>

<div class="eng-box" style="display: block;">
	<h1>上午抢购活动已结束！</h1>
	<p>下午两点开放第二次抢购</p>
	<p>不要忘记哦！</p>
</div>

<!--下午抢购完成-->

<div class="eng-tab" style="display: none;">
	<h1>本轮已全部售罄</h1>
	<p>下一轮抢购将于9月3日11:00开始</p>
	<p class="p1">敬请关注！</p>
	<b>（8月7日开启预约）</b>
</div>
