<style type="text/css">
	.modify_wrapper {float: left; width: 100%; height: 600px; background-color: rgb(204, 204, 204); padding-bottom: 30px;}	
    .modify_wrapper .modify_content {width: 1200px; height: auto; margin: 0 auto;}

	.modify_wrapper .modify_content .modify_info {position: relative; float: left; display: block; width: 510px; margin-left: 380px; margin-top: 80px;}
	.modify_wrapper .modify_content .modify_info .content {float: left; width: 100%; height: 100%; border: 1px solid rgb(217, 217, 217); background-color: #FFF;}
	.modify_wrapper .modify_content .modify_info .content .ac_header {float: left; width: 100%; height: 60px; line-height: 60px; border-bottom: 1px solid rgb(217, 217, 217); background-color: #eee;}
	.modify_wrapper .modify_content .modify_info  .content .ac_header label {margin-left: 30px; font-size: 21px;}

	.modify_wrapper .modify_content .modify_info  .content .ac_body {float: left; width: 100%; padding: 0 7%;padding-bottom: 50px;}
	.modify_wrapper .modify_content .modify_info  .content .ac_body .div_label {margin-top: 20px;margin-left: 108px;}
	.modify_wrapper .modify_content .modify_info  .content .ac_body .div_input {float: left; position: relative; width: 355px; height: 45px; line-height: 45px;padding-left: 15px; margin-left: 35px; margin-top: 20px; border: 1px solid rgb(188, 188, 188); font-size: 14px; outline: none;margin-bottom: 10px;}
	.modify_wrapper .modify_content .modify_info  .content .ac_body .div_input input {border: 0; outline: none; font-size: 18px; padding-top: 10px; width: 300px;}

	.modify_wrapper .modify_content .modify_info  .content .ac_body .div_input2 {float: left; position: relative; width: 100px; height: 45px; line-height: 45px;padding-left: 15px; margin-left: 35px; margin-top: 20px; border: 1px solid rgb(188, 188, 188); font-size: 14px; outline: none;}
	.modify_wrapper .modify_content .modify_info  .content .ac_body .div_input2 input {border: 0px; outline: none; font-size: 18px; padding-top: 10px; width: 95px;}

	.modify_wrapper .modify_content .modify_info  .content .ac_body .div_input3 {float: left; position: relative; width: 250px; margin-top: 25px; }

	.modify_wrapper .modify_content .modify_info  .content .ac_body input.submit_button {float: left; position: relative; width: 370px; height: 50px; line-height: 50px;
				   padding-left: 15px; margin-left: 35px; margin-top: 25px;border: 1px solid rgb(188, 188, 188); font-size: 14px; outline: none;
				   background-color: rgb(252, 62, 57); color: #FFF; font-size: 20px;}
</style>

<div class="modify_wrapper">
	<div class="modify_content">
		<div class="modify_info">
			<div class="content">
				<div class="ac_header"><label >忘记密码</label></div>
				<div class="ac_body">
                                    <form id="fogot_form" method="post" action="{url:/simple/fogot_password_auth}">
					<div class="div_label">请输入您的手机号码或者注册邮箱</div>				
					<div class="div_input">
					<input type="text" name='username' value="" placeholder="手机号码/注册邮箱"/>
					</div>
					<div class="div_input2">
					<input type="text" class='no_chinese' name='captcha' value="" placeholder="验证码" maxlength="5" />
					</div>
					<div class="div_input3">
						<img style="float: left; cursor: pointer;" src='{url:/simple/getCaptcha}' id='captchaImg' class="change_click" />
						<label style="float: left; margin-top: 10px; color: #909090; cursor: pointer;" class="change_click" >点击验证码刷新</label>
					</div>
					<input class="submit_button" type="submit" value="下一步"/>
                                    </form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(".change_click").bind("click", function(){
		changeCaptcha('{url:/simple/getCaptcha}');
	});
        
        $("input[name='captcha']").change(function () {
            var captcha;
            var textfield = this;
            var value = this.value;
            var alt = textfield.getAttribute("alt");
            var empty = textfield.getAttribute("empty");
            //var pattern = textfield.getAttribute("pattern");
            $.post("{url:simple/show_captcha}", {}, function (data) {
                captcha = data;
                if (captcha.toUpperCase() != value.toUpperCase()) {
                    //alert(captcha + " " + value);

                    textfield.className = textfield.className.replace("invalid-text", "");
                    textfield.className = textfield.className.replace("valid-text", "");
                    if (textfield.className.indexOf("invalid-text") == -1)
                        textfield.className += " invalid-text";
                    msg = textfield.nextSibling;
                    while (msg && msg.nodeType == 3)
                        msg = msg.nextSibling;
                    if (msg && (msg.tagName == 'LABEL' || msg.tagName == 'SPAN'))
                    {
                        msg.className = "invalid-msg";
                        if (textfield.getAttribute('initmsg') == null)
                            textfield.setAttribute('initmsg', msg.innerHTML);
                        msg.innerHTML = alt;
                    }
                    else if (alt != null)
                    {
                        var new_msg = document.createElement("LABEL");
                        new_msg.className = "invalid-msg";
                        if (textfield.getAttribute('initmsg') == null)
                            textfield.setAttribute('initmsg', '');
                        new_msg.innerHTML = alt;
                        textfield.parentNode.insertBefore(new_msg, msg);
                    }
                } else {
                    //alert(captcha + "=" + value);

                    textfield.className = textfield.className.replace("invalid-text", "");
                    textfield.className = textfield.className.replace("valid-text", "");
                    if (empty != null && value == '')
                        ;
                    else
                    if (textfield.className.indexOf("valid-text") == -1)
                        textfield.className += " valid-text";
                    msg = textfield.nextSibling;
                    while (msg && msg.nodeType == 3)
                        msg = msg.nextSibling;
                    if (msg && (msg.tagName == 'LABEL' || msg.tagName == 'SPAN'))
                    {
                        if (empty != null && value == '')
                            msg.className = "";
                        else
                            msg.className = "valid-msg";
                        if (textfield.getAttribute('initmsg') == null)
                            textfield.setAttribute('initmsg', msg.innerHTML);
                        msg.innerHTML = textfield.getAttribute('initmsg');
                    }
                    else if (alt != null)
                    {
                        var new_msg = document.createElement("LABEL");
                        if (empty != null && value == '')
                        {
                            new_msg.className = "";
                        }
                        else
                        {
                            new_msg.className = "valid-msg";
                        }
                        if (textfield.getAttribute('initmsg') == null)
                        {
                            textfield.setAttribute('initmsg', '');
                        }
                        new_msg.innerHTML = textfield.getAttribute('initmsg');
                        textfield.parentNode.insertBefore(new_msg, msg);
                        msg = new_msg;
                    }

                }
            });
        });
        
        $(".submit_button").click(function(){
            //验证验证码与用户名的完整
            if(!$("input[name=username]").val()){
                alert("请填写正确手机号码或者注册邮箱。");
                return false;
            }
            if(!$("input[name=captcha]").val()){
                alert("请填写验证码。");
                return false;
            }
            
            //验证用户资料与验证码
            jQuery.ajax({
                type: "POST",
                url: "{url:simple/verify_username_fg}",
                data: "username=" + $("input[name=username]").val() + "&captcha=" + $("input[name=captcha]").val(),
                dataType: "Json",
                success: function (data_ret) {
                    if (data_ret['code'] == 0) {
                        alert(data_ret['message']);
                        return false;
                    } else {
                        $("#fogot_form").submit();
                        return true;
                    }
                }
            });
            return false;
        })

</script>