
		<div class="place">
			<div class="center">				
				<div class="new-left">
					<div class="new-cen">
						<div class="h1">云棒-银组合</div>
						<div class="h2">海量存储、高性价比</div>
						<div class="h3">热卖爆品</div>
						<div class="h4">1979元 银组合（母棒+1T存储碟）</div>
						<div class="h5"><a href="{url:/site/products_new/id/14}">现在购买</a> </div>
					</div>
				</div>
				<div class="new-left">
					<img src="http://o8nj7d5m4.bkt.clouddn.com/ico-good.jpg" />
				</div>
			</div>
		</div>
	
