<style>
body{background: #f5f5f5;}
</style>
		<div class="pers-center">
			<div class="pers-admin">
				<div class="flt"><img class="" src="{if:empty($this->user['head_ico'])}{skin:images/front/img/pc-img.png}{else:}{echo:$this->user['head_ico']}{/if}" /> </div>
				<div class="ptext">
					{if:$this->user['user_id']}
					<p>{echo: ISafe::get('username')}</p>
					<p>{if:empty($this->user['email'])}{echo:$this->user['mobile']}{else:}{echo:$this->user['email']}{/if}</p>
					{/if}
				</div>
			</div>
			<ul class="pers-zhcz">
				<li><a id="nickname">修改昵称<i></i></a></li>
				<li><a id="password1">修改密码<i></i></a></li>
			</ul>
		</div>
		
		<!--修改昵称-->
		<div class="acc-line" style="display: none;">
			<form>
			<div class="acc-in manage-lable">
				<input type="text" name="username" />			
				<div class="manage-bc"><a>保存</a></div>		
			</div>
			</form>
		</div>
		<!--修改密码-->
		<div class="acc-tab" style="display: none;">
			<form method='post' action='{url:wapcenter/change_password}'>
				<ul class="acc-list">
					<li>
						<input type="hidden" autocomplete="off"  name="fpassword" id="modify_password_1"/>
						<input type="password" autocomplete="off" class="no_chinese password_input" target_input="modify_password_1" placeholder="请输入原密码" value="" />
					</li>
					<li>
						<input type="hidden" autocomplete="off"  name="password" id="modify_password_2"/>
						<input type="password" autocomplete="off" class="no_chinese password_input" target_input="modify_password_2" value="" placeholder="请输入新密码" />
					</li>
					<li>
						<input type="hidden" autocomplete="off" name="repassword" id="modify_password_3"/>
						<input type="password" autocomplete="off" class="no_chinese password_input" target_input="modify_password_3" value="" placeholder="请确认密码" />
					</li>
				</ul>
				<div class="acc-box"> 
					<input class="submit_button" type="button" name="" value="保存" />
				</div>
			</form>
		</div>		
		
		<script>
			$(document).ready(function(){
				$("#nickname").click(function(){					
					$(".acc-line").css("display","block");
				});
				
				$("#password1").click(function(){
					$(".acc-tab").css("display","block");
				});				
				
			})
		</script>
		<script type='text/javascript'>
		var input_just_change = 0;
		
		function passwordchange(obj) {
			
			var value = $(obj).val();
			value = value.replace(/\s/g,"");
			var target = $(obj).attr("target_input");
			var valuebk = $("#" + target).val();
			
			var placeholder = $(obj).attr("placeholder");
			if (placeholder == value) {
				return true;
			}
												
			value=value.replace(/[\u4e00-\u9fa5]/g,'');

			if (valuebk == "") {
				valuebk = value;
			} else {
				if (valuebk.length < value.length) {
					var count = value.length - valuebk.length;
					valuebk = valuebk + value.substring(value.length-count, value.length);
				} else if (valuebk.length > value.length) {
//					var count = valuebk.length - value.length
//					valuebk = valuebk.substring(0, valuebk.length-count);
					valuebk = value;
				}
			}

			$("#" + target).val(valuebk);

			var length = value.length;
			var value_show = "";
			for (var i = 0 ; i < length; i++) {
				value_show = value_show + "*";
			}
			
			$(obj).val(value_show);	
			$(obj).attr("realvalue", valuebk);
		}
		
		$('.password_input').bind('input propertychange', function(event) {
			if (input_just_change == 1) {
				return true;
			}
			input_just_change = 1;
			passwordchange($(this));
			input_just_change = 0;
		});  
	
	
	function checkplaceholder() {
		if(!placeholderSupport()){   // 判断浏览器是否支持 placeholder
			function show_place(obj) {
				obj.addClass('placeholder');
				obj.val(obj.attr('placeholder'));
				obj.css("color", "#aaa");
			}
			function hide_place(obj) {
				obj.val('');
				obj.removeClass('placeholder');
				obj.css("color", "#000");
			}
			
			jQuery(':input[placeholder]').each(function(index, element) {
				if ($(this).attr("type") != "password" && $(this).attr("type") != "repassword") { 
					$(this).focus(function() {
						var input = $(this);
						if (input.val() == input.attr('placeholder')) {
							hide_place(input);
						}
					}).blur(function() {
						var input = $(this);
						if (input.val() == '' || input.val() == input.attr('placeholder')) {
							show_place(input);
						}
					});

					if ($(this).val() == '' || $(this).val() == $(this).attr('placeholder')) {
						var input = $(this);
						show_place(input);
					} else {
						$(this).css("color", "#000");
					}
				}
			});
		};
	}
	
	function checkplaceholderchange(obj) {
		if (obj.attr("placeholder") == obj.val()) {
			return false;
		}
		return true;
	}
	</script>
		 <script type="text/javascript">				
				
				$('.submit_button').click(function(){
					//alert('text')
					var fpassword = $('input[name="fpassword"]').val();
					var password = $('input[name="password"]').val();
					var repassword = $('input[name="repassword"]').val();
					var patt = /^\w{6,32}$/;
					if(!patt.test(fpassword)){
						alert('原始密码格式不正确');
						$('input[target_input="modify_password_1"]').focus();
						return false;
					}
					
					if(!patt.test(password)){
						alert('请输入6到32位由数字字母下划线组成的新密码');
						$('input[target_input="modify_password_2"]').focus();
						return false;
					}
					
					if(password != repassword){
						alert('两次密码输入不一致');
						$('input[target_input="modify_password_3"]').focus();
						return false;
					}
					
					$.ajax({
						url:'{url:/wapcenter/change_password}',
						type:'get',
						dataType:'json',
						data:{'fpassword':fpassword,'password':password,'repassword':repassword},
						success:function(d){
							if(d.status == '1'){
								alert(d.message);
								window.location.reload();
							}else{
								alert(d.message);
								$('input[target_input="modify_password_1"]').val("");
								$('input[target_input="modify_password_2"]').val("");
								$('input[target_input="modify_password_3"]').val("");
							}
						}
					});
				});
		</script>
		<script type="text/javascript">
				
				$('.manage-bc a').click(function(){
					
					var username = $('input[name="username"]').val();
					var patt = /^[\w\u0391-\uFFE5]{2,20}$/;
					$('.manage-lable').trigger('submit');
					if(username == ''){
						alert('请输入用户名');
						return false;
					}else if(!patt.test(username)){
						alert('请填写2-20个由字母，数字下划线和中文组成的昵称');
						return false;
					}
					$.ajax({
						url:'{url:/wapcenter/modify_username}',
						type:'post',
						dataType:'json',
						data:{"username":username},
						success:function(d){
							if(d.status == '1'){
								//alert(d.message);
								//$('.alert_close_img').click(function(){
									window.location.href='/wapcenter/account?'+Math.random();
								//});
							}else{
								alert(d.message);
							}
						}
					});
				});
		</script>
		
	</body>
</html>
