<style>
body{background: #f5f5f5;}
</style>
		<div class="pers-center">
			<ul class="pers-list">
				<li><a href="{url:/wapcenter/account}">账户设置<i></i></a></li>
				<li><a href="{url:/wapcenter/myreser}">我的预约<i></i></a></li>
				<li><a href="{url:/wapcenter/myorder}">我的订单<i></i></a></li>				
			</ul>
		</div>
		<div class="pers-center">
			<ul class="pers-list">				
				<li><a href='{url:/wapcenter/address}'>收货地址<i></i></a></li>
				<li><a href='{url:/wapcenter/myprize}'>我的奖品<i></i></a></li>
				<li><a href='{url:/wapcenter/myfcode/status/0}'>我的F码<i></i></a></li>
			</ul>
		</div>
		<div class="pers-but">
			<a href='{url:/wap/logout}'><input type="submit" value="退出登录" /></a>
		</div>
	</body>
</html>
