<style type="text/css">
	.modify_wrapper {float: left; width: 100%; height: 600px; background-color: rgb(204, 204, 204); padding-bottom: 30px;}	
    .modify_wrapper .modify_content {width: 1200px; height: auto; margin: 0 auto;}

	.modify_wrapper .modify_content .modify_info {position: relative; float: left; display: block; height: 400px; width: 440px; margin-left: 380px; margin-top: 80px; border-radius: 15px;}
	.modify_wrapper .modify_content .modify_info .content {float: left; width: 100%; height: 100%; border-radius: 15px; border: 1px solid rgb(217, 217, 217); background-color: #FFF;}
	.modify_wrapper .modify_content .modify_info .content .ac_header {float: left; width: 100%; height: 60px; line-height: 60px; border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom: 1px solid rgb(217, 217, 217); background-color: rgb(252, 252, 252);}
	.modify_wrapper .modify_content .modify_info  .content .ac_header label {margin-left: 30px; font-size: 20px;}

	.modify_wrapper .modify_content .modify_info  .content .ac_body {float: left; width: 100%; padding: 0;}
	.modify_wrapper .modify_content .modify_info  .content .ac_body label {float: left; width: 100px; text-align: right; height: 50px; line-height: 50px; margin-top: 26px; margin-left: 25px;}
	.modify_wrapper .modify_content .modify_info  .content .ac_body .div_input {float: left; position: relative; width: 355px; height: 50px; line-height: 50px;
				   padding-left: 15px; margin-left: 33px; margin-top: 25px; border-radius: 10px; border: 1px solid rgb(188, 188, 188); font-size: 14px; outline: none;}
	.modify_wrapper .modify_content .modify_info  .content .ac_body .div_input input {float: left; border: 0px; outline: none; font-size: 18px; height: 22px; line-height: 22px; margin-top: 14px; width: 300px;}
	.modify_wrapper .modify_content .modify_info  .content .ac_body input.submit_button {float: left; position: relative; width: 374px; height: 50px; line-height: 46px;
				   margin-left: 32px; margin-top: 25px; border-radius: 10px; border: 1px solid rgb(188, 188, 188); font-size: 14px; outline: none; padding: 0;
				   background-color: rgb(252, 62, 57); color: #FFF; font-size: 20px; cursor: pointer;}
</style>

<div class="modify_wrapper">
	<div class="modify_content">
		<div class="modify_info">
			<div class="content">
				<div class="ac_header"><label >修改密码</label></div>
				<div class="ac_body">
                                    <form method='post' action='{url:ucenter/password_edit}'>
<!--					<label style="">原密码：</label>-->
					<div class="div_input">
						<input type="hidden" autocomplete="off"  name="fpassword" id="modify_password_1"/>
						<input type="text"  autocomplete="off" target_input="modify_password_1" class="no_chinese password_input" placeholder="输入原密码" value=""/>
<!--						<input type="password" autocomplete="off" name='fpassword'  value="" />-->
					</div>
<!--					<label style="">新密码：</label>-->
					<div class="div_input">
						<input type="hidden" autocomplete="off"  name="password" id="modify_password_2"/>
						<input type="text"  autocomplete="off" target_input="modify_password_2" class="no_chinese password_input" placeholder="输入新密码" value=""/>
<!--						<input type="password" autocomplete="off" name='password' value=""/>-->
					</div>
<!--					<label style="">确认新密码：</label>-->
					<div class="div_input">
						<input type="hidden" autocomplete="off"  name="repassword" id="modify_password_3"/>
						<input type="text"  autocomplete="off" target_input="modify_password_3" class="no_chinese password_input" placeholder="确认新密码" value=""/>
<!--						<input type="password" autocomplete="off" name='repassword' value=""/>-->
					</div>
					<input class="submit_button" type="submit" value="确定更改密码"/>
                                    </form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type='text/javascript'>
    $(document).ready(function(){
    })
</script>
